Importing the Dependencies

In [81]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

Data Collection and Analysis

PIMA Diabetes Dataset

In [82]:
# loading the diabetes dataset to a pandas DataFrame
diabetes_dataset = pd.read_csv('/content/diabetes .csv')

In [83]:
# printing the first 5 rows of the dataset
diabetes_dataset=diabetes_dataset.head(20)
diabetes_dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [84]:
# number of rows and Columns in this dataset
diabetes_dataset.shape

(20, 9)

In [85]:
# getting the statistical measures of the data
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000
mean,4.50000,129.400000,61.700000,17.800000,116.150000,30.950000,0.511650,37.450000,0.65000
std,3.56149,35.354446,26.159631,17.733703,215.843821,9.654424,0.513691,11.591626,0.48936
min,0.00000,78.000000,0.000000,0.000000,0.000000,0.000000,0.134000,21.000000,0.00000
25%,1.00000,106.000000,57.500000,0.000000,0.000000,26.975000,0.198500,30.750000,0.00000
50%,4.50000,117.000000,70.000000,21.000000,0.000000,30.300000,0.374500,32.000000,1.00000
75%,7.25000,152.500000,74.000000,32.750000,114.000000,35.875000,0.560000,50.250000,1.00000
max,10.00000,197.000000,96.000000,47.000000,846.000000,45.800000,2.288000,59.000000,1.00000

In [86]:
diabetes_dataset['Outcome'].value_counts()

1    13
0     7
Name: Outcome, dtype: int64

0 --> Non-Diabetic

1 --> Diabetic

In [87]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,4.571429,108.142857,58.285714,12.857143,25.285714,31.942857,0.381143,33.000000
1,4.461538,140.846154,63.538462,20.461538,165.076923,30.415385,0.581923,39.846154

In [88]:
# separating the data and labels
X = diabetes_dataset.drop(columns = 'Outcome', axis=1)
Y = diabetes_dataset['Outcome']

In [89]:
print(X)

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35        0  33.6
1             1       85             66             29        0  26.6
2             8      183             64              0        0  23.3
3             1       89             66             23       94  28.1
4             0      137             40             35      168  43.1
5             5      116             74              0        0  25.6
6             3       78             50             32       88  31.0
7            10      115              0              0        0  35.3
8             2      197             70             45      543  30.5
9             8      125             96              0        0   0.0
10            4      110             92              0        0  37.6
11           10      168             74              0        0  38.0
12           10      139             80              0        0  27.1
13            1      189             60             23      846  30.1
14            5      166             72             19      175  25.8
15            7      100              0              0        0  30.0
16            0      118             84             47      230  45.8
17            7      107             74              0        0  29.6
18            1      103             30             38       83  43.3
19            1      115             70             30       96  34.6

    DiabetesPedigreeFunction  Age
0                      0.627   50
1                      0.351   31
2                      0.672   32
3                      0.167   21
4                      2.288   33
5                      0.201   30
6                      0.248   26
7                      0.134   29
8                      0.158   53
9                      0.232   54
10                     0.191   30
11                     0.537   34
12                     1.441   57
13                     0.398   59
14                     0.587   51
15                     0.484   32
16                     0.551   31
17                     0.254   31
18                     0.183   33
19                     0.529   32

In [90]:
print(Y)

0     1
1     0
2     1
3     0
4     1
5     0
6     1
7     0
8     1
9     1
10    0
11    1
12    0
13    1
14    1
15    1
16    1
17    1
18    0
19    1
Name: Outcome, dtype: int64

Data Standardization

In [91]:
scaler = StandardScaler()

In [92]:
scaler.fit(X)

StandardScaler()

In [93]:
standardized_data = scaler.transform(X)

In [94]:
print(standardized_data)

[[ 0.4321134   0.53976797  0.40396506  0.99510113 -0.55210005  0.28161626
   0.23038485  1.11080434]
 [-1.0082646  -1.28847837  0.16864561  0.64797283 -0.55210005 -0.46227574
  -0.32086109 -0.57089148]
 [ 1.0082646   1.55546038  0.09020579 -1.02981397 -0.55210005 -0.81296769
   0.32026191 -0.48238117]
 [-1.0082646  -1.17239924  0.16864561  0.30084453 -0.10528641 -0.30287031
  -0.68835838 -1.45599454]
 [-1.2963402   0.22055035 -0.85107202  0.99510113  0.24646051  1.29118397
   3.54784683 -0.39387086]
 [ 0.1440378  -0.38886509  0.48240488 -1.02981397 -0.55210005 -0.56854603
  -0.62045127 -0.65940178]
 [-0.4321134  -1.49161685 -0.45887293  0.82153698 -0.13380643  0.00531351
  -0.52657968 -1.01344301]
 [ 1.58441581 -0.41788488 -2.41986836 -1.02981397 -0.55210005  0.46227574
  -0.75426822 -0.74791209]
 [-0.720189    1.96173734  0.32552524  1.57364831  2.02896176 -0.04782163
  -0.70633379  1.37633526]
 [ 1.0082646  -0.12768705  1.34524286 -1.02981397 -0.55210005 -3.28906534
  -0.55853597  1.46484557]
 [-0.1440378  -0.56298379  1.18836323 -1.02981397 -0.55210005  0.7066974
  -0.64042395 -0.65940178]
 [ 1.58441581  1.12016363  0.48240488 -1.02981397 -0.55210005  0.74920551
   0.05063074 -0.30536056]
 [ 1.58441581  0.27858992  0.71772433 -1.02981397 -0.55210005 -0.4091406
   1.85616092  1.73037649]
 [-1.0082646   1.72957908 -0.06667384  0.30084453  3.46922277 -0.09032974
  -0.2269895   1.9073971 ]
 [ 0.1440378   1.06212406  0.40396506  0.06942566  0.27973386 -0.54729197
   0.15049414  1.19931465]
 [ 0.720189   -0.85318162 -2.41986836 -1.02981397 -0.55210005 -0.10095677
  -0.05522446 -0.48238117]
 [-1.2963402  -0.33082553  0.87460396  1.68935774  0.54116738  1.57811374
   0.07859249 -0.57089148]
 [ 0.720189   -0.65004314  0.48240488 -1.02981397 -0.55210005 -0.14346489
  -0.51459607 -0.57089148]
 [-1.0082646  -0.76612228 -1.2432711   1.16866529 -0.15757311  1.31243803
  -0.65640209 -0.39387086]
 [-1.0082646  -0.41788488  0.32552524  0.70582755 -0.09577973  0.38788654
   0.0346526  -0.48238117]]

In [95]:
X = standardized_data
Y = diabetes_dataset['Outcome']

In [96]:
print(X)
print(Y)

[[ 0.4321134   0.53976797  0.40396506  0.99510113 -0.55210005  0.28161626
   0.23038485  1.11080434]
 [-1.0082646  -1.28847837  0.16864561  0.64797283 -0.55210005 -0.46227574
  -0.32086109 -0.57089148]
 [ 1.0082646   1.55546038  0.09020579 -1.02981397 -0.55210005 -0.81296769
   0.32026191 -0.48238117]
 [-1.0082646  -1.17239924  0.16864561  0.30084453 -0.10528641 -0.30287031
  -0.68835838 -1.45599454]
 [-1.2963402   0.22055035 -0.85107202  0.99510113  0.24646051  1.29118397
   3.54784683 -0.39387086]
 [ 0.1440378  -0.38886509  0.48240488 -1.02981397 -0.55210005 -0.56854603
  -0.62045127 -0.65940178]
 [-0.4321134  -1.49161685 -0.45887293  0.82153698 -0.13380643  0.00531351
  -0.52657968 -1.01344301]
 [ 1.58441581 -0.41788488 -2.41986836 -1.02981397 -0.55210005  0.46227574
  -0.75426822 -0.74791209]
 [-0.720189    1.96173734  0.32552524  1.57364831  2.02896176 -0.04782163
  -0.70633379  1.37633526]
 [ 1.0082646  -0.12768705  1.34524286 -1.02981397 -0.55210005 -3.28906534
  -0.55853597  1.46484557]
 [-0.1440378  -0.56298379  1.18836323 -1.02981397 -0.55210005  0.7066974
  -0.64042395 -0.65940178]
 [ 1.58441581  1.12016363  0.48240488 -1.02981397 -0.55210005  0.74920551
   0.05063074 -0.30536056]
 [ 1.58441581  0.27858992  0.71772433 -1.02981397 -0.55210005 -0.4091406
   1.85616092  1.73037649]
 [-1.0082646   1.72957908 -0.06667384  0.30084453  3.46922277 -0.09032974
  -0.2269895   1.9073971 ]
 [ 0.1440378   1.06212406  0.40396506  0.06942566  0.27973386 -0.54729197
   0.15049414  1.19931465]
 [ 0.720189   -0.85318162 -2.41986836 -1.02981397 -0.55210005 -0.10095677
  -0.05522446 -0.48238117]
 [-1.2963402  -0.33082553  0.87460396  1.68935774  0.54116738  1.57811374
   0.07859249 -0.57089148]
 [ 0.720189   -0.65004314  0.48240488 -1.02981397 -0.55210005 -0.14346489
  -0.51459607 -0.57089148]
 [-1.0082646  -0.76612228 -1.2432711   1.16866529 -0.15757311  1.31243803
  -0.65640209 -0.39387086]
 [-1.0082646  -0.41788488  0.32552524  0.70582755 -0.09577973  0.38788654
   0.0346526  -0.48238117]]
0     1
1     0
2     1
3     0
4     1
5     0
6     1
7     0
8     1
9     1
10    0
11    1
12    0
13    1
14    1
15    1
16    1
17    1
18    0
19    1
Name: Outcome, dtype: int64

Train Test Split

In [97]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [98]:
print(X.shape, X_train.shape, X_test.shape)

(20, 8) (16, 8) (4, 8)

Training the Model

In [99]:
classifier = KNeighborsClassifier(n_neighbors=3)

In [100]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=3)

Model Evaluation

Accuracy Score

In [101]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [102]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.625

In [103]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [104]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.75

Making a Predictive System

In [80]:
input_data = (5,166,72,19,175,25.8,0.587,51)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[[ 0.1440378   1.06212406  0.40396506  0.06942566  0.27973386 -0.54729197
   0.15049414  1.19931465]]
[1.]
The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"